# Python
__pycache__/
*.py[cod]

# PyInstaller
build/
dist/
*.spec
!MussasWidget.spec

# Arquivos locais do aplicativo
config.json
parabens_played.txt
version.txt
WidgetTasks.txt
WidgetTasks.md

# Ambiente virtual
.venv/
venv/

# IDE
.vscode/

# MODULO DOS MUSSAS
aniversarios.py